@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a,
a:link,
a:visited {
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------loading------ */
.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #070707;
  z-index: 10000000;
}
.preloader::before {
  content: "Loading";
  position: absolute;
  font-size: 12em;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.03);
}
.preloader.active {
  transform: translateY(-100vh);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}
.counter {
  position: relative;
  color: #fff;
  font-size: 16em;
  font-weight: 700;
  z-index: 1;
}
.counter::after {
  content: "%";
  font-size: 0.5em;
}
.hide {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

/* ------header-------- */
.mainheader {
  background-color: #fff;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

ul {
  float: right;
  margin-right: 10px;
}
ul li {
  display: inline-block;
  line-height: 40px;
  margin: 15px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
.navlist a:hover {
  color: #fc5c65;
  transition: 0.5s;
}

/* a.active,
.navlist a:hover {
  border-bottom: 2px solid #fc5c65;
} */
.checkbtn {
  font-size: 20px;
  color: black;
  float: right;
  line-height: 30px;
  margin: 15px; /*positopn of bar */
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* -----body----- */
/* main index page */

#dev {
  background: #000;
  /* height: 50vh; */
}
#dev p {
  padding: 20px;
  font-size: 2.5em;
  color: rgb(15, 177, 15);
  opacity: 0;
  animation: devlop 1s infinite;
}
@keyframes devlop {
  100% {
    opacity: 1;
  }
}
/* -----banner-pic------ */
.banner-view {
  background: url(../image/banner.jpeg) no-repeat right;
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  background-color: #fff;
  display: grid;
  align-items: center;
  min-height: 700px;
}
/* ------typing----------- */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  margin-right: auto;
}
.banner h1,
small {
  line-height: 70px;
  font-size: 55px;
  font-family: "Poppins", serif;
}
.banner h1 {
  font-weight: 600;
}
.banner h1 small {
  font-weight: 400;
}
.banner h2 {
  font-size: 32px;
  font-weight: 600;
}
.banner .txt {
  border-right: 0.2rem solid #000;
  animation: cur 0.7s infinite;
}
@keyframes cur {
  0% {
    border-right-color: #000;
  }
  100% {
    border-right-color: transparent;
  }
}
/*-------------------- headline of each container------------------- */
.containerHead h3 {
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  border-bottom: 2px solid rgb(236, 66, 117);
  display: inline-block;
  line-height: 1;
}
/* ------About Me------ */
#about {
  padding-top: 1rem !important;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  display: flex;
  flex-wrap: wrap;
}
.card .imgbx {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  /* padding-left: 15px; */
}
.card .imgbx img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.card .content {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  /* padding-right: 15px; */
  padding-left: 15px;
}
.card .content h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
}
.card .content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 30px 0;
}
/* -------about-grid------ */
.about-grid {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.72),
      rgba(0, 0, 0, 0.58)
    ),
    url(../image/slide.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}
.container-about {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bottomgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -15px;
  margin-left: -15px;
}
.bottomfield {
  margin-top: 0 !important;
  flex: 0 0 25%; /* ratio */
  max-width: 25%; /*ratio*/
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.bottomfield h4 {
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 15px 0;
  font-weight: 600;
  line-height: 1.2;
}
.bottomfield p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.72);
}

/* ---------My Skill And hobbies------ */
.MySkillHobbies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.MySkill,
.MyHobbies {
  /* order: 2; */
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.MySkill h4,
.MyHobbies h4 {
  font-size: 30px;
  line-height: 35px;
  color: #232527;
  padding-bottom: 0em;
  position: relative;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

h6 {
  font-size: 17px;
  color: #777;
  margin-bottom: 0.6em;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
}

h6 span {
  float: right;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.2;
}

.progress {
  height: 10px;
  margin-bottom: 2.5em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  font-size: 0.75rem;
  display: flex;
}
.progress .bar {
  background-color: #29a19c;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  border-radius: 5px;

}

.MyHobbies .box {
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto -15px;
}
.hobbies-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  text-align: center;
  margin-bottom: 2em;
}
.hobbies-box span {
  font-size: 20px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  color: #f7f6a3;
  border-radius: 50%;
  margin-bottom: 0.5em;
  background-color: #222831 !important;
}
.hobbies-box h5 {
  font-size: 18px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #232527;
  font-weight: 600;
  padding-bottom: 0em;
}

/* -------ptext-> btn-------- */
.page-content {
  min-height: 400px;
  background-color: #050801;
}
.ptext a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  font-size: 24px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.ptext a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.ptext a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  /* animation-delay: 0.25s; */
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  /* animation-delay: 0.5s; */
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  /* animation-delay: 0.75s; */
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* ------contact------ */
#contact {
  padding-top: 1rem !important;
  padding-right: 15px;
  padding-left: 15px;
  background: #c8bd84;
}
#contact p.shadow {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.72);
}
.container-contact {
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
}
.container-contact a {
  width: 300px;
  height: 100px;
  padding: 20px;
  margin: 30px;
  background: rgb(197, 197, 152);
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}
.container-contact p {
  font-size: 25px;
}
.container-contact a:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
#g {
  color: green;
}
#bl {
  color: black;
}
#b {
  color: rgb(56, 85, 165);
}
#lb {
  color: rgb(28, 191, 197);
}
#p {
  color: rgb(233, 76, 128);
}
#r {
  color: rgb(255, 68, 68);
}
/* -----footer----- */
footer {
  background: #fff;
  padding: 30px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logo {
  width: 180px;
}
.imglogo {
  text-align: center;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin: 0 15px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col {
  flex-wrap: wrap;
}

/* ------button to top------- */
#movetop {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(234, 238, 10);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  opacity: 0.7;
  box-shadow: 0 0 10px #000;
}
#movetop:active {
  opacity: 1;
}

@media (max-width: 991px) {
  .banner-view {
    background-position: -460px 0;
  }
}

@media (max-width: 858px) {
  .logo {
    width: 150px;
  }
  .checkbtn {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    background: #fff;
    /* top:80px; */
    /* left:-100%; */
    left: 0;
    margin-top: 80px;
    top: -200%;
    text-align: center;
    transition: all 0.5s;
    z-index: 100000;
  }
  nav ul li {
    display: block;
    margin: 45px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  .navlist a:hover,
  a.active {
    background: none;
    color: #fc5c65;
  }
  #check:checked ~ ul {
    /* left: 0; */
    top: 0;
  }
  /* ---------------contruction text----------- */
  #dev p {
    font-size: 1em;
  }
  /* ------footer------ */
  .footer-container {
    max-width: 500px;
  }
  .right-col {
    width: 100%;
    font-size: 0.7em;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
  .social-media a {
    margin: 0 10px;
  }
  /* -------looding--------- */
  .preloader::before {
    font-size: 5em;
  }
  .counter {
    font-size: 9em;
  }
  /* ------banner--------- */
  .banner-view {
    background-position: -520px 0;
  }
  .banner {
    padding: 0.5rem;
  }
  .banner h1,
  small {
    font-size: 40px;
    line-height: 50px;
  }
  .banner h2 {
    font-size: 22px;
  }
  .card .imgbx {
    flex: none;
    max-width: 100%;
    padding: 0;
  }
  .card .content {
    flex: none;
    max-width: 100%;
    padding: 0;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
  }
  .bottomfield {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 3rem !important;
  }
  .MySkill,
  .MyHobbies {
    flex: none;
    max-width: 100%;
  }
  .MyHobbies {
    margin: 0;
  }
}

@media (max-width: 800px) {
  .banner-view {
    background-position: -630px 0;
  }
}
@media (max-width: 600px) {
  .banner-view {
    background-position: -450px 0;
    min-height: 550px;
  }
  .container-contact a {
    width: 155px;
    height: 70px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .container-contact p {
    font-size: 20px;
  }
  #contact p.shadow {
    font-size: 20px;
    text-shadow: 1px 2px 13px rgba(0, 0, 0, 0.72);
    margin-bottom: 20px !important;
  }
}
@media (max-width: 569px) {
  .banner-view {
    background-position: -320px 0;
    min-height: 420px;
  }
}
@media (max-width: 400px) {
  .banner-view {
    background-position: -400px 0;
  }
  .MyHobbies .box {
    padding: 0;
  }
}
